* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #d3d3d3; /* Replace with the color you prefer */
  width: 100vw;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}
