.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textContainer {
    width: 50%;
    margin-top: 3%;
    text-align: center;
}

.p {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 2%;
}

.h2 {
    font-size: 35px;
    margin-bottom: 10%;
}

.leftSide {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-top: 20%;
}

.imgContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 25%;
   
}

.container2 {
    display: flex;
    justify-content: center;
}

.locationSticker {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 15%;
    z-index: 2;
    transform: rotate(-2deg);
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 3%;
    padding: 2px 2px;
}
.locationSticker2 {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 22%;
    z-index: 2;
    transform: rotate(-2deg);
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 3%;
    padding: 2px 2px;
}

.locationSticker2:hover {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.locationSticker3 {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 10%;
    z-index: 2;
    transform: rotate(-2deg);
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 3%;
}

.locationSticker3:hover {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.locationSticker5 {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 23%;
    z-index: 2;
    transform: rotate(-2deg);
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 85%;
}
.locationSticker5:hover {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.locationSticker:hover {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.locationTitle {
    margin-top: 2%;
}

.image5 {
    margin-left: 80%;
    border: 8px solid black;
}

.imgLeft {
    border: 8px solid black;
    cursor: pointer;
}

.imgRight {
    border: 8px solid black;
    cursor: pointer;
}

.locationSticker6 {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 12%;
    z-index: 2;
    transform: rotate(-2deg);
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 3%;
}
.locationSticker6:hover {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}
.locationSticker7 {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 12%;
    z-index: 2;
    transform: rotate(-2deg);
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 3%;
    padding: 2px 2px;
}
.locationSticker7:hover {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}
.locationSticker8 {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 23%;
    z-index: 2;
    transform: rotate(-2deg);
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 3%;
}
.locationSticker8:hover {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.imgContainer:hover .locationSticker {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.imgContainer:hover .locationSticker2 {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.imgContainer:hover .locationSticker3 {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.imgContainer:hover .locationSticker5 {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.imgContainer:hover .locationSticker6 {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.imgContainer:hover .locationSticker7 {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.imgContainer:hover .locationSticker8 {
    transform: rotate(2deg);
    background-color: #00022e;
    color: white;
    transition: 0.3s ease-in-out;
}

.link {
    text-decoration: none;
    color: black;
}





