.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background-color: #00022e;
    text-align: center;
    color: white;
    height: 2.8vh;
    font-size: 14px;
}

.container {
    margin-top: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media (max-width: 768px) {
   .wrapper {
    display: flex;
    flex-direction: column;
   }

   .container {
    display: flex;
    flex-direction: column;
   }
  }
  
  @media (max-width: 480px) {
    .wrapper {
        display: flex;
        flex-direction: column;
       }

       .container {
        display: flex;
        flex-direction: column;
       }
   
  }